body{
    margin: 0;
    background-color: #050807;
}

p{
  color: black;
  text-align: justify;

}

#azmuth{
  margin-top: 40px;
  margin-right: 25px;
  float: right;
}

#info{
  text-align: left;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 400px;
  background-color: #a7a7a7;
}

img{
    height: 360px;
    width: 330px;
    list-style-type: none;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    overflow: hidden;
    background-color: #292929;
}


ul {
    list-style-type: none;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e3e3e;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
    text-align: center;
    border-bottom: none;
    display: inline;
  } 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 85px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #79BC2A;
  }

  .active {
    background-color: #79BC2A
  }